<!DOCTYPE html>
<html>
<head>
<style>
    table, td, th {
        border: 1px solid;
    }
    table {
        border-collapse: collapse;
    }
</style>
</head>
<body>

{% if products_list %}
    <table>
        <thead>
            <tr>
                <td><b>Product Name</b></td>
                <td><b>Price in USD</b></td>
                <td><b>Product Description</b></td>
            </tr>
        </thead>
        {% for product in products_list %}
            <tr>
                <td><a href="{% url 'myapp:detail' product.id %}">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.desc }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>